<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">


<beans>
	<bean id="userBean" class="org.treblereel.beans.User">
		<property name="username" value="Bilbo Beggins" />
	</bean>
	
	<bean id="injectRundomIntAnnotationBeanPostProcessor"  class="org.treblereel.beans.InjectRundomIntAnnotationBeanPostProcessor" />
	
	<!-- 
	PostConstruct
	PreDestroy
	Resource
	 -->
	
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />  

	<bean class='org.treblereel.beans.TransactionalAnnotationBeanPostProcessor' />

</beans>